.collection {
    .collectionContent {
        padding: 56px 0;
        border-top: 1px solid var(--colors-foreground-fg-3);
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media(max-width: 768px) {
            grid-template-columns: 100%;
        }

        .titleCollection {
            position: sticky;
            top: 56px;
            align-self: start;

            @media(max-width: 768px) {
                position: static;
                margin-bottom: 16px;
            }

            h2 {
                margin: 0;
                font-size: var(--font-size-font-size-3xlarge);
                font-weight: 500;
                @media(max-width: 768px) {
                    margin-bottom: 16px;
                }
            }

            .subtitle {
                a {
                    font-size: var(--font-size-font-size-large);
                    font-weight: 500;
                }
            }
        }

        .artwork {
            p:first-child{
                display: block;
            }
            h3 {
                margin: 32px 0 16px 0;
                font-size: var(--font-size-font-size-large);
                font-weight: 500;
            }

            .artworkImage {
                margin-bottom: 16px;
                overflow: hidden;
                border-radius: 8px;

                img {
                    object-fit: cover;
                }
            }

            .ctaButton {
                margin-top: 16px;
                justify-self: start;
                align-self: end;

                a {
                    color: var(--colors-foreground-fg-1);
                    border: var(--colors-foreground-fg-1) 1px solid;
                    border-radius: 8px;
                    transition: all 0.3s ease;
                    font-weight: 500;
                }

                a:hover,
                a:focus {
                    border-radius: 16px;
                }
            }
        }
    }
}
