.blur{
    opacity: 0;
}

.unblur {
    animation: unblur 0.3s ease;
}

.contentVideo {
    opacity: 0; // Inicialmente oculto
    transition: opacity 0.1s ease-in-out;
}

.fadeIn {
    opacity: 1; // Cuando se carga el video, se hace visible
}

// .veil{
//     position: absolute;
//     opacity: 0.7;
//     width: 100%;
//     height: 100%;
// }

@keyframes unblur {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.imagesSq{
    aspect-ratio: 1 / 1;
}

.lazyVideo{
    position: relative;
    height: 100%;

    video{
        position:relative;
    }
}

.thumbnailWrapper{
    position: absolute;
    width: 100%;
    transition: opacity 0.3s ease;
    transition-delay: 1s;
}

