@use "@/styles/common/variables" as *;
@use "@/styles/mixins/breakpoints" as *;

.section {
    border-top: 1px solid var(--colors-foreground-fg-5);
    padding: 56px 0;

    display: grid;
    grid-template-columns: 1fr auto;
    gap: 32px 46px;

    @include media-breakpoint-down(md) {
        grid-template-columns: 1fr;
    }

    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 32px 46px;
        height: 100%;

        .leftBottom {
            display: flex;
            flex-direction: column;
            gap: 18px;
            max-width: 279px;

            .links {
                display: flex;
                flex-direction: column;
                gap: 8px;

                .linksList {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                }
            }
        }
    }

    .itemsContainer {
        $item_size: 176px;
        $gap_v: 16px;
        $gap_h: 32px;

        $grid_size_m: calc(100dvw - $min_page_padding_m * 2);
        $gap_m: 16px;
        $item_size_m: calc(0.3333 * $grid_size_m - $gap_m * 2 / 3); /* 3 columnas iguales */

        display: flex;
        width: calc(3 * $item_size + 2 * $gap_h);
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: $gap_v $gap_h;

        @include media-breakpoint-down(md) {
            width: 100%;
            gap: $gap_m;
        }

        .item {
            display: flex;
            flex-direction: column;
            gap: 4px;
            width: $item_size;

            @include media-breakpoint-down(md) {
                width: $item_size_m;
            }

            .image {
                position: relative;
                width: $item_size;
                height: $item_size;
                border-radius: 8px;
                transition: all 0.3s ease;
                overflow: hidden;

                @include media-breakpoint-down(md) {
                    width: $item_size_m;
                    height: $item_size_m;
                }
            }

            @include media-breakpoint-down(md) {
                .caption p {
                    font-size: var(--font-size-font-size-caption);
                    line-height: var(--line-height-line-height-caption);
                }
            }

            &:hover,
            &:focus {
                .image {
                    border-radius: 16px;
                }
            }
        }
    }
}
