.section {
    width: 100%;

    .top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & > * {
            flex-shrink: 0;
        }
    }

    .artworksGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 32px;

        min-height: 437px;
        margin-top: 40px;
    }
}
