@use "@/styles/common/variables" as *;

.jumbotron {
    border: 1px solid var(--colors-background-bg-navy-strong);
    border-radius: 16px;
    margin-top: 56px;
    margin-bottom: 56px;

    &.boxed {
        max-width: $max_page_width_sm;

        p {
            width: 100% !important;
        }
    }

    &.blue {
        background-color: var(--colors-background-bg-blue-soft);
    }

    &.darkBlue {
        background-color: var(--colors-background-bg-navy-strong);
        color: white;
        .title {
            border-bottom: 1px solid white;
        }
        a {
            color: white;
        }
    }

    &.yellow {
        background-color: var(--colors-background-bg-yellow-soft);
    }

    &.cream {
        background-color: var(--colors-core-ucsd-gold-200);
    }

    &.black {
        background-color: var(--colors-background-bg-black);
        color: white;
        .title {
            border-bottom: 1px solid white;
        }
        a {
            color: white;
        }
    }

    &.white {
        background-color: var(--colors-background-bg-white);
    }

    .title {
        h2 {
            padding: 32px;
            font-size: var(--font-size-font-size-2xlarge);
            font-weight: 500;
            max-width: $max_page_width_sm;
        }

        border-bottom: 1px solid var(--colors-background-bg-navy-strong);
    }

    .body {
        padding: 32px;

        a {
            text-decoration: underline;
        }
    }
}
