.section {
    padding-top: 24px;

    .grid {
        display: grid;
        grid-template-columns: 1fr 3fr;
        max-height: 600px;

        aside {
            max-height: 600px;
            overflow-y: auto;
        }

        .map {
            height: 100%;
        }
    }
}
