@use "./styles/common/variables.scss" as *;
@use "./styles/mixins/breakpoints.scss" as *;

.footer {
    background-color: var(--colors-background-bg-navy-strong);
    color: var(--colors-foreground-fg-inverted-1);

    .topHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0 64px;

        .logo {
            font-size: var(--font-size-font-size-medium);
            line-height: var(--line-height-line-height-medium);
            letter-spacing: 1px;
            font-weight: 400;

            a {
                color: var(--colors-foreground-fg-inverted-1);
                text-decoration: none;
            }
        }

        .logoSanDiego {
            svg {
                width: 169px;
                height: auto;
            }
        }
    }

    .textContainer {
        border-bottom: 1px solid var(--colors-foreground-fg-inverted-1);
    }

    .text {
        padding: 16px 0 64px;

        h3 {
            font-size: var(--font-size-font-size-xlarge);
            line-height: var(--line-height-line-height-xlarge);
            font-weight: 300;
            margin: 0;
        }
    }

    .footerBottom {
        padding: 48px 0;
        text-align: right;

        p {
            font-size: var(--font-size-font-size-p);
            font-weight: 300;
            line-height: var(--line-height-line-height-p);
        }
    }
}
