@use "@/styles/common/variables" as *;

.section {
    padding-top: 48px;

    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;

        min-height: 405px;

        .card {
            display: block;
            width: 100%;
            aspect-ratio: 592 / 405;
            border-radius: 8px;
            transition: all 0.3s ease;

            overflow: hidden;
            position: relative;

            .image {
                position: absolute;
                width: 100%;
                height: 100%;
                background: $missing_image_gradient;
            }

            .content {
                position: relative;
                height: 100%;

                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                align-items: flex-start;
                gap: 8px;

                padding: 16px;

                color: var(--colors-foreground-fg-inverted-1);
            }

            &:hover,
            &:focus {
                border-radius: 16px;
            }
        }
    }
}
