.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;

    min-height: 437px;

    display: flex;
    justify-content: center;

    & > * {
        flex: 0 0 calc(25% - 32px * 3 / 4); /* 4 columnas iguales */
    }
}
