@use "@/styles/common/variables" as *;

.titleParagraphs {
    margin: 56px 0 24px;
    width: 100%;

    &.content {
        max-width: $max_page_width_sm;
    }

    h1 {
        font-size: var(--font-size-font-size-4xlarge);
        line-height: var(--line-height-line-height-4xlarge);
        font-weight: 500;
    }

    h2 {
        font-size: var(--font-size-font-size-3xlarge);
        line-height: var(--line-height-line-height-3xlarge);
        font-weight: 500;
    }

    h3 {
        font-size: var(--font-size-font-size-2xlarge);
        line-height: var(--line-height-line-height-2xlarge);
        font-weight: 500;
    }

    h4 {
        font-size: var(--font-size-font-size-xlarge);
        line-height: var(--line-height-line-height-xlarge);
        font-weight: 500;
    }

    h5 {
        font-size: var(--font-size-font-size-large);
        line-height: var(--line-height-line-height-large);
        font-weight: 500;
    }

    h6 {
        font-size: var(--font-size-font-size-medium);
        line-height: var(--line-height-line-height-medium);
        font-weight: 500;
    }
}
