$swiper_padding: 32px;

.section {
    padding-bottom: 56px;
    width: 100%;

    .topContent {
        border-top: 1px solid var(--colors-foreground-fg-5);
        padding-top: 56px;
        padding-bottom: 32px;

        display: flex;
        align-items: flex-end;
        gap: 16px;

        h2 {
            flex-shrink: 0;
        }

        .link {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            gap: 3px;

            margin-bottom: 7px;

            strong {
                flex-shrink: 0;
            }

            img {
                margin-bottom: 2px;
            }
        }
    }

    .artworkGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 32px;

        min-height: 437px;
    }
}
