@use "@/styles/common/variables.scss" as *;
@use "@/styles/mixins/breakpoints.scss" as *;

.section {
    width: 100%;
    padding-bottom: 56px;

    .topContent {
        border-top: 1px solid var(--colors-foreground-fg-5);
        padding-top: 56px;
        padding-bottom: 32px;

        display: flex;
        align-items: flex-end;
        gap: 16px;

        @include media-breakpoint-down(sm) {
            flex-direction: column;
            align-items: flex-start;
            gap: 0;
            padding-bottom: 0;
        }

        h2 {
            flex-shrink: 0;
        }
    }

    .tabs {
        padding: 0 $min_page_padding;
        max-width: $max_page_width;
        margin: 0 auto;

        @include media-breakpoint-down(md) {
            padding: 0;
            max-width: 100%;
        }
    }
}
