.component {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .link {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;

        &:hover,
        &:focus,
        &:active {
            color: var(--colors-foreground-fg-4);

            svg {
                path {
                    fill: var(--colors-foreground-fg-4);
                }
            }
        }
    }
}
