.imageWrapper{

    &.content{
        width: 68%;
    }
    &.full{
        width: 100%;
    }
    
    overflow:hidden;
    border-radius: 16px;
    margin-bottom: 24px;
    img{
        width: 100%;
    }
}