/* tokens.css */

:root { 
  --sizes-2: 0.13rem;
  --sizes-4: 0.25rem;
  --sizes-6: 0.38rem;
  --sizes-8: 0.5rem;
  --sizes-10: 0.63rem;
  --sizes-12: 0.75rem;
  --sizes-14: 0.88rem;
  --sizes-16: 1rem;
  --sizes-18: 1.13rem;
  --sizes-20: 1.25rem;
  --sizes-24: 1.5rem;
  --sizes-28: 1.75rem;
  --sizes-32: 2rem;
  --sizes-36: 2.25rem;
  --sizes-40: 2.5rem;
  --sizes-44: 2.75rem;
  --sizes-48: 3rem;
  --sizes-52: 3.25rem;
  --sizes-56: 3.5rem;
  --sizes-60: 3.75rem;
  --sizes-64: 4rem;
  --sizes-68: 4.25rem;
  --sizes-72: 4.5rem;
  --colors-core-ucsd-blue-base: #00629bff;
  --colors-accents-ucsd-turquoise-base: #00c6d7ff;
  --colors-accents-ucsd-turquoise-50: #e5f8faff;
  --colors-accents-ucsd-magenta-base: #d462adff;
  --colors-accents-ucsd-magenta-50: #f8e7f2ff;
  --colors-accents-ucsd-sand-base: #f5f0e6ff;
  --colors-accents-ucsd-sand-500: #f7f2eaff;
  --colors-accents-ucsd-sand-200: #fcfaf7ff;
  --colors-accents-ucsd-sand-100: #fdfcfaff;
  --colors-accents-ucsd-citron-base: #f3e500ff;
  --colors-accents-ucsd-citron-50: #fdfaccff;
  --colors-accents-ucsd-orange-base: #fc8900ff;
  --colors-accents-ucsd-orange-50: #feefdcff;
  --colors-accents-ucsd-green-base: #6e963bff;
  --colors-accents-ucsd-green-50: #eef3e8ff;
  --colors-core-ucsd-blue-50: #e5eff5ff;
  --colors-core-ucsd-yellow-base: #ffcd00ff;
  --colors-core-ucsd-yellow-300: #ffe680ff;
  --colors-core-ucsd-yellow-50: #fef6d7ff;
  --colors-core-ucsd-gold-base: #c69214ff;
  --colors-core-ucsd-gold-200: #ecdbb1ff;
  --colors-core-ucsd-navy-base: #182b49ff;
  --colors-core-ucsd-navy-50: #eeeff2ff;
  --colors-neutrals-coldgray-900: #272728ff;
  --colors-neutrals-coldgray-800: #3a3b3cff;
  --colors-neutrals-coldgray-700: #4d4f50ff;
  --colors-neutrals-coldgray-600: #616264ff;
  --colors-neutrals-coldgray-base: #747678ff;
  --colors-neutrals-coldgray-500: #4d4f50ff;
  --colors-neutrals-coldgray-400: #a2a4a5ff;
  --colors-neutrals-coldgray-300: #b9babbff;
  --colors-neutrals-coldgray-200: #d1d1d2ff;
  --colors-neutrals-coldgray-100: #e3e4e4ff;
  --colors-neutrals-warmgray-base: #b6b1a9ff;
  --colors-neutrals-white: #ffffffff;
  --colors-neutrals-white-80-: #ffffffcc;
  --colors-neutrals-white-60-: #ffffff99;
  --colors-neutrals-white-30-: #ffffff4d;
}

/* default: Desktop */
:root {
  /* puedes aplicar aquí lo mismo que [data-mode="Desktop"] si quieres */
  --colors-foreground-fg-primary: var(--colors-core-ucsd-blue-base);
  --colors-foreground-fg-1: var(--colors-neutrals-coldgray-900);
  --colors-foreground-fg-2: var(--colors-neutrals-coldgray-700);
  --colors-foreground-fg-3: var(--colors-neutrals-coldgray-base);
  --colors-foreground-fg-4: var(--colors-neutrals-coldgray-400);
  --colors-foreground-fg-5: var(--colors-neutrals-warmgray-base);
  --colors-background-bg-white: var(--colors-neutrals-white);
  --colors-background-bg-black: var(--colors-neutrals-coldgray-900);
  --colors-background-bg-navy-strong: var(--colors-core-ucsd-navy-base);
  --colors-foreground-fg-inverted-1: var(--colors-neutrals-white);
  --colors-background-bg-navy-soft: var(--colors-core-ucsd-navy-50);
  --colors-background-bg-blue-strong: var(--colors-core-ucsd-blue-base);
  --colors-background-bg-blue-soft: var(--colors-core-ucsd-blue-50);
  --colors-background-bg-yellow-strong: var(--colors-core-ucsd-yellow-300);
  --colors-background-bg-yellow-soft: var(--colors-core-ucsd-yellow-50);
  --colors-background-bg-gold-strong: var(--colors-core-ucsd-gold-base);
  --colors-background-bg-gold-soft: var(--colors-core-ucsd-gold-200);
  --colors-background-bg-sand-soft: var(--colors-accents-ucsd-sand-500);
  --colors-background-bg-sand-soft-2: var(--colors-accents-ucsd-sand-200);
  --colors-background-bg-sand-strong: var(--colors-accents-ucsd-sand-base);
  --colors-background-bg-turquoise-strong: var(--colors-accents-ucsd-turquoise-base);
  --colors-background-bg-turquoise-soft: var(--colors-accents-ucsd-turquoise-50);
  --colors-background-bg-magenta-strong: var(--colors-accents-ucsd-magenta-base);
  --colors-background-bg-magenta-soft: var(--colors-accents-ucsd-magenta-50);
  --colors-background-bg-citron-strong: var(--colors-accents-ucsd-citron-base);
  --colors-background-bg-citron-soft: var(--colors-accents-ucsd-citron-50);
  --colors-background-bg-orange-strong: var(--colors-accents-ucsd-orange-base);
  --colors-background-bg-orange-soft: var(--colors-accents-ucsd-orange-50);
  --colors-background-bg-green-strong: var(--colors-accents-ucsd-green-base);
  --colors-background-bg-green-soft: var(--colors-accents-ucsd-green-50);
  --font-size-font-size-4xlarge: var(--sizes-64);
  --font-size-font-size-3xlarge: var(--sizes-52);
  --font-size-font-size-2xlarge: var(--sizes-40);
  --font-size-font-size-xlarge: var(--sizes-32);
  --font-size-font-size-large: var(--sizes-24);
  --font-size-font-size-medium: var(--sizes-20);
  --font-size-font-size-p: var(--sizes-16);
  --font-size-font-size-p-small: var(--sizes-14);
  --font-size-font-size-caption: var(--sizes-10);
  --line-height-line-height-4xlarge: var(--sizes-72);
  --line-height-line-height-3xlarge: var(--sizes-60);
  --line-height-line-height-2xlarge: var(--sizes-52);
  --line-height-line-height-xlarge: var(--sizes-40);
  --line-height-line-height-large: var(--sizes-32);
  --line-height-line-height-medium: var(--sizes-28);
  --line-height-line-height-p: var(--sizes-24);
  --line-height-line-height-p-small: var(--sizes-18);
  --line-height-line-height-caption: var(--sizes-14);
  --font-weight-regular: 18.75rem;
  --line-height-line-height-label: var(--sizes-20);
  --font-weight-strong: 31.25rem;
  --line-height-line-height-label-small: var(--sizes-16);
  --colors-foreground-fg-inverted-2: var(--colors-neutrals-white-80-);
  --colors-foreground-fg-inverted-3: var(--colors-neutrals-white-60-);
  --colors-foreground-fg-inverted-4: var(--colors-neutrals-white-30-);
}

@media (max-width: 768px) {
  :root {
    /* copia aquí lo de [data-mode="Mobile"] */
    --colors-foreground-fg-primary: var(--colors-core-ucsd-blue-base);
    --colors-foreground-fg-1: var(--colors-neutrals-coldgray-900);
    --colors-foreground-fg-2: var(--colors-neutrals-coldgray-700);
    --colors-foreground-fg-3: var(--colors-neutrals-coldgray-base);
    --colors-foreground-fg-4: var(--colors-neutrals-coldgray-400);
    --colors-foreground-fg-5: var(--colors-neutrals-warmgray-base);
    --colors-background-bg-white: var(--colors-neutrals-white);
    --colors-background-bg-black: var(--colors-neutrals-coldgray-900);
    --colors-background-bg-navy-strong: var(--colors-core-ucsd-navy-base);
    --colors-foreground-fg-inverted-1: var(--colors-neutrals-white);
    --colors-background-bg-navy-soft: var(--colors-core-ucsd-navy-50);
    --colors-background-bg-blue-strong: var(--colors-core-ucsd-blue-base);
    --colors-background-bg-blue-soft: var(--colors-core-ucsd-blue-50);
    --colors-background-bg-yellow-strong: var(--colors-core-ucsd-yellow-300);
    --colors-background-bg-yellow-soft: var(--colors-core-ucsd-yellow-50);
    --colors-background-bg-gold-strong: var(--colors-core-ucsd-gold-base);
    --colors-background-bg-gold-soft: var(--colors-core-ucsd-gold-200);
    --colors-background-bg-sand-soft: var(--colors-accents-ucsd-sand-500);
    --colors-background-bg-sand-soft-2: var(--colors-accents-ucsd-sand-200);
    --colors-background-bg-sand-strong: var(--colors-accents-ucsd-sand-base);
    --colors-background-bg-turquoise-strong: var(--colors-accents-ucsd-turquoise-base);
    --colors-background-bg-turquoise-soft: var(--colors-accents-ucsd-turquoise-50);
    --colors-background-bg-magenta-strong: var(--colors-accents-ucsd-magenta-base);
    --colors-background-bg-magenta-soft: var(--colors-accents-ucsd-magenta-50);
    --colors-background-bg-citron-strong: var(--colors-accents-ucsd-citron-base);
    --colors-background-bg-citron-soft: var(--colors-accents-ucsd-citron-50);
    --colors-background-bg-orange-strong: var(--colors-accents-ucsd-orange-base);
    --colors-background-bg-orange-soft: var(--colors-accents-ucsd-orange-50);
    --colors-background-bg-green-strong: var(--colors-accents-ucsd-green-base);
    --colors-background-bg-green-soft: var(--colors-accents-ucsd-green-50);
    --font-size-font-size-4xlarge: var(--sizes-40);
    --font-size-font-size-3xlarge: var(--sizes-32);
    --font-size-font-size-2xlarge: var(--sizes-28);
    --font-size-font-size-xlarge: var(--sizes-24);
    --font-size-font-size-large: var(--sizes-20);
    --font-size-font-size-medium: var(--sizes-18);
    --font-size-font-size-p: var(--sizes-16);
    --font-size-font-size-p-small: var(--sizes-14);
    --font-size-font-size-caption: var(--sizes-10);
    --line-height-line-height-4xlarge: var(--sizes-48);
    --line-height-line-height-3xlarge: var(--sizes-40);
    --line-height-line-height-2xlarge: var(--sizes-36);
    --line-height-line-height-xlarge: var(--sizes-32);
    --line-height-line-height-large: var(--sizes-28);
    --line-height-line-height-medium: var(--sizes-24);
    --line-height-line-height-p: var(--sizes-24);
    --line-height-line-height-p-small: var(--sizes-18);
    --line-height-line-height-caption: var(--sizes-14);
    --font-weight-regular: 18.75rem;
    --line-height-line-height-label: var(--sizes-20);
    --font-weight-strong: 31.25rem;
    --line-height-line-height-label-small: var(--sizes-16);
    --colors-foreground-fg-inverted-2: var(--colors-neutrals-white-80-);
    --colors-foreground-fg-inverted-3: var(--colors-neutrals-white-60-);
    --colors-foreground-fg-inverted-4: var(--colors-neutrals-white-30-);
  }
}