.p {
    font-size: var(--font-size-font-size-p);
    line-height: var(--line-height-line-height-p);
}

.p-small {
    font-size: var(--font-size-font-size-p-small);
    line-height: var(--line-height-line-height-p-small);
}

.p-medium {
    font-size: var(--font-size-font-size-medium);
    line-height: var(--line-height-line-height-medium);
}

.p-large {
    font-size: var(--font-size-font-size-large);
    line-height: var(--line-height-line-height-large);
}

.p-xlarge {
    font-size: var(--font-size-font-size-xlarge);
    line-height: var(--line-height-line-height-xlarge);
}
