@use "@/styles/common/variables" as *;
@use "@/styles/mixins/breakpoints" as *;

.component {
    display: grid;
    grid-template-columns: auto auto 1fr;
    gap: 4px;
    align-items: center;
    width: max-content;
    max-width: 100%;

    & > * {
        flex-shrink: 0;
    }

    .buttonContainer {
        position: relative;

        .button {
            display: grid;
            grid-template-columns: auto 1fr auto;
            align-items: center;
            gap: 4px;
            padding: 8px 0 8px 8px;

            .sortLabel {
                margin-top: 1.5px;
                color: var(--colors-foreground-fg-3);

                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            svg {
                color: var(--colors-foreground-fg-3);
                fill: var(--colors-foreground-fg-3);
            }

            & > * {
                flex-shrink: 0;
            }
        }

        .selector {
            position: absolute;
            width: max-content;
            max-width: 231px;
            top: calc(100% + 8px);
            padding: 16px;
            border-radius: 8px;
            background-color: var(--colors-background-bg-white);

            z-index: 10;

            border: 1px solid var(--colors-foreground-fg-1);
        }
    }
}
