@use "@/styles/common/variables.scss" as *;
@use "@/styles/mixins/breakpoints.scss" as *;

.header {
    height: $header_top_height;

    @include media-breakpoint-down(md) {
        height: unset;
    }

    .topHeaderContainer {
        padding: 24px 0;
        border-bottom: 1px solid var(--colors-foreground-fg-1);

        @include media-breakpoint-down(md) {
            position: fixed;
            width: 100%;
            z-index: 1000;
            padding: 16px 0 18px;
            height: $header_top_height_m;
        }
    }

    .topHeader {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            font-size: var(--font-size-font-size-medium);
            line-height: var(--line-height-line-height-medium);
            letter-spacing: 1px;
            font-weight: 400;

            @include media-breakpoint-down(md) {
                font-size: var(--font-size-font-size-p);
                line-height: var(--line-height-line-height-p);
                max-width: 8em;
            }
        }

        .right {
            display: flex;
            flex-direction: row;
            gap: 16px;
            align-items: center;
        }

        .logoSanDiego {
            svg {
                width: 169px;
                height: auto;

                @include media-breakpoint-down(md) {
                    width: 126px;
                }
            }
        }
    }

    .mobileMenuContainer {
        display: none;

        @include media-breakpoint-down(md) {
            display: block;
        }
    }

    .menuHeaderContainer {
        padding: 12px 0px;
        border-bottom: 1px solid var(--colors-foreground-fg-1);

        @include media-breakpoint-down(md) {
            display: none;
        }
    }

    .dateHeaderContainer {
        padding-left: 32px;
        padding-right: 32px;
        border-left: 1px solid var(--colors-foreground-fg-1);
    }

    .menuHeader {
        display: grid;
        grid-template-columns: 1fr auto auto;
        align-items: center;
    }

    .submenuHeader {
        position: absolute;
        top: 161px;
        left: 0;
        width: 100%;
        z-index: 9999;
        background: $body-bg;
        border-bottom: 1px solid var(--colors-foreground-fg-2);
    }
}
