@use "./styles/common/variables.scss" as *;
@use "./styles/mixins/breakpoints.scss" as *;

.header {
  position: fixed;
  top: 0;
  width: 100%;

  background-color: $body-bg;

  text-align: center;
  border-bottom: 1px solid $secondary;
  h4 {
    margin: 1em;
    @include media-breakpoint-up(md) {
    }
  }
}
