@use "@/styles/common/variables" as *;

.cookieConsent {
  &,
  p,
  button,
  * {
    font-size: 16px;
  }
  button {
    font-weight: 300;
  }
}

.checkboxWrapper {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  cursor: pointer;
  position: relative;

  input {
    display: none; // hide the native checkbox
  }
}

.checkboxSquare {
  width: 0.7em;
  height: 0.7em;
  border: 1px solid black;
  flex-shrink: 0;
  margin-top: 4px;
  transition: background-color 0.2s ease;
}

.checked {
  background-color: black;
}

.disabled {
  background-color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
}

.checkboxContent {
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
    &:first-child {
      margin-bottom: 0.5em;
    }
    &:last-child {
      margin-bottom: 1em;
    }
  }
}
