.details {
    .backContainer {
        padding: 24px 24px 16px 24px;
        border-bottom: 1px solid var(--colors-foreground-fg-4);

        button {
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }

    .content {
        padding: 16px 24px;

        display: flex;
        flex-direction: column;
        gap: 16px;

        .imageContainer {
            img {
                border-radius: 8px;
            }
        }

        .buttonContainer {
            margin-top: 45px;
        }
    }
}
