.artworkComponent {
    display: flex;
    flex-direction: column;
    padding: 32px 0 56px;
    align-items: flex-start;
    justify-content: flex-start;

    .introSection {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;

        padding-top: 24px;

        .body {
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }
}
