@use "@/styles/common/variables" as *;

.separator {
    &.content {
        max-width: $max_page_width_sm;
    }

    &.full {
        width: 100%;
    }

    &.line {
        border-top: 1px solid var(--colors-foreground-fg-2);
        margin: 56px 0 0px;
    }

    &.space {
        height: 48px;
    }

    &.lineSpace {
        border-top: 1px solid var(--colors-foreground-fg-3);
        margin: 56px 0;
    }
}

.anchorMenu {
    font-size: var(--font-size-font-size-3xlarge);
    font-weight: 500;
    margin-bottom: 32px;
}
