@use "@/styles/common/variables" as *;

.textParagraphs {
    max-width: $max_page_width_sm;
    margin-bottom: 24px;

    &.full {
        width: 100%;
    }

    p {
        margin-bottom: 16px;
    }

    ul {
        list-style-type: disc;
    }

    a{
        text-decoration: underline;
    }
}
