@use "@/styles/common/variables" as *;

.textParagraphs {
    margin-bottom: 24px;

    &.full {
        width: 100%;
    }

    &.content {
        max-width: $max_page_width_sm;
    }   

    p {
        margin-bottom: 16px;
    }

    ul {
        list-style-type: disc;
    }

    a{
        text-decoration: underline;
    }
}
