@use "@/styles/common/variables.scss" as *;
@use "@/styles/mixins/breakpoints" as *;

$height_map: min(calc(100dvh * 619 / 720), $available_height);
$height_map_m: min(calc(100dvh * 600 / 732), $available_height_m);

.section {
    border-top: 1px solid var(--colors-foreground-fg-5);
    padding: 56px 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 46px;

    @include media-breakpoint-down(sm) {
        grid-template-columns: 1fr;
    }

    .visitDetails {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 32px;

        & > * {
            max-width: 284px;
        }

        @include media-breakpoint-down(sm) {
            grid-template-columns: 1fr;
        }
    }

    .map {
        grid-column: span 2;
        width: 100%;
        height: $height_map;
        border-radius: 16px;
        overflow: hidden;

        @include media-breakpoint-down(md) {
            height: $height_map_m;
        }

        @include media-breakpoint-down(sm) {
            grid-column: span 1;
        }

        svg {
            text {
                font-size: var(--font-size-font-size-p-small);
                line-height: var(--line-height-line-height-p-small);
                font-weight: 500;
            }
        }
    }
}
