.support{
    padding: 0 32px 56px 32px;

    .supportContent{
        .supportTop{
            position: relative;
            border-top-left-radius: 16px;
            border-top-right-radius: 16px;
            overflow: hidden;
            width: 100%;
            aspect-ratio: 1216 / 540;
            border-bottom: 1px solid var(--colors-foreground-fg-inverted-1);

            .veil{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.4);
                z-index: 1;
            }
        }

        .supportText{
            position: absolute;
            top: 50%;
            left: 32px;
            transform: translateY(-50%);
            color: var(--colors-foreground-fg-inverted-1);
            z-index: 2;

            .title{
                margin: 0;
                font-size: var(--font-size-font-size-3xlarge);
                font-weight: 500;
            }

            .description{
                margin-top: 32px;
                width: 394px;
            }

            .ctaButton{
                margin-top: 24px;
                a{
                    color: var(--colors-foreground-fg-1);
                    background-color: var(--colors-foreground-fg-inverted-1);
                    border: var(--colors-foreground-fg-inverted-1) 1px solid;
                    border-radius: 8px;
                    transition: all 0.3s ease;
                    font-weight: 500;
                }

                a:hover{
                    border-radius: 16px;
                }
            }
        }

        .listOfCards{
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            .card:first-child{
                border-bottom-left-radius: 16px;
            }

            .card:nth-child(2){
                border-bottom-right-radius: 16px;
            }

            .card{
                background-color: var(--colors-background-bg-navy-strong);
                padding: 56px 32px;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                transition: all 0.3s ease;

                .title{
                    font-size: var(--font-size-font-size-large);
                    font-weight: 500;
                    color: var(--colors-foreground-fg-inverted-1);
                }

                .description{
                    font-weight: 300;
                    margin-bottom: 24px;
                    color: var(--colors-foreground-fg-inverted-1);
                }

                .ctaButton{
                    a{ 
                        transition: all 0.3s ease;
                        font-weight: 500;
                        display: flex;
                        align-items: center;
                        gap: 8px;

                        p{
                            color: var(--colors-foreground-fg-inverted-1);
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}