@use "../../styles/mixins/breakpoints" as *;

.pageComponent {
    padding: 32px 0;

    .hero {
        padding-bottom: 56px;
    }

    .content {
        margin-top: 56px;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 32px;

        @media(max-width: 991px) {
            grid-template-columns: 1fr;
        }

        &.noAsideMenu {
            grid-template-columns: 1fr;
        }
    }

    .asideMenuContainer {
        width: 312px;

        @media(max-width: 991px) {
            width: 100%;
            order: 2;
        }

        .menuNav {
            position: sticky;
            top: 56px;

            @media(max-width: 991px) {
                position: static;
                top: auto;
            }

            .menuList {
                list-style: none;
                padding: 0;
                margin: 0;

                .menuLink {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-decoration: none;
                    color: rgba(39, 39, 40, 1);
                    font-weight: 500;
                    margin-bottom: 16px;
                    gap: 10px;

                    svg {
                        margin-right: 8px;
                        transition: fill 0.3s ease;
                    }

                    &:hover,
                    &:focus {
                        p {
                            color: var(--colors-foreground-fg-4);
                        }

                        svg {
                            path {
                                fill: var(--colors-foreground-fg-4);
                            }
                        }
                    }
                }

                .active {
                    p {
                        font-weight: var(--font-weight-strong);
                    }

                    svg {
                        path {
                            fill: #000000;
                        }
                    }
                }
            }
        }
    }

    .contentContainer {
        min-width: 0;
        .moduleTitle {
            border-bottom: 1px solid var(--colors-foreground-fg-1);

            h1 {
                font-size: var(--font-size-font-size-4xlarge);
                line-height: var(--line-height-line-height-4xlarge);
                font-weight: 500;
                padding-bottom: 24px;
                width: 50%;

                @include media-breakpoint-down(md) {
                    width: 100%;
                }
            }

            .separatorMenu {
                display: flex;
                gap: 16px;
                padding-bottom: 24px;
            }
        }

        .moduleContent {
            margin-top: 56px;
        }
    }
}
