@use "@/styles/common/variables" as *;

.videoWrapper {
    width: 100%;

    &.content {
        max-width: $max_page_width_sm;
    }
}

.caption {
    width: 100%;

    &.content {
        max-width: $max_page_width_sm;
    }
}
