@use "@/styles/mixins/breakpoints.scss" as *;

.section {
    padding-bottom: 56px;
    width: 100%;

    .topContent {
        border-top: 1px solid var(--colors-foreground-fg-5);
        padding-top: 56px;

        display: flex;
        align-items: flex-end;
        gap: 0 16px;

        @include media-breakpoint-down(sm) {
            flex-direction: column;
            align-items: flex-start;
            gap: 0;
        }

        h2 {
            flex-shrink: 0;
        }
    }

    .artworks {
        margin-top: 40px;
    }
}
