.section {
    border-top: 1px solid var(--colors-foreground-fg-5);
    padding: 56px 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px 46px;

    .imageContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
        gap: 10px;

        .image {
            position: relative;
            width: 280px;
            height: 280px;
            border-radius: 8px;
            overflow: hidden;
        }
    }
}
